.container {
    display: flex;
    flex-direction: column;
    row-gap: 120px;
    margin: auto;
}

.input {
    display: flex;
    width: 522px;
    margin: auto;
    column-gap: 12px;
}

.animation {
    display: flex;
    margin: auto;
    column-gap: 16px;
}